
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	
	<div class="container">
	  <div class="row">
	    <div class="col">
	    	<br>
	     	<h3 th:text="'Data Pegawai Termuda'"></h3>
	     	<hr>
			<b>NIP: </b><p th:text="${termuda.nip}"></p>
			<b>Nama: </b><p th:text="${termuda.nama}"></p>
			<b>Tempat Lahir: </b><p th:text="${termuda.tempatLahir}"></p>
			<b>Tanggal Lahir: </b><p th:text="${termuda.tanggalLahir}"></p>
			<b>Tahun Masuk: </b><p th:text="${termuda.tahunMasuk}"></p>
			<b>Nama Instansi: </b><p th:text="'Nama Instansi: ' + ${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></p>
				<table>
				<thead>
					<tr>
						<th>Jabatan: </th>
					</tr>
					<tr>
						<td><li th:each="jabatan: *{listJabatanTermuda}" th:text="${jabatan.nama}"></li></td>
					</tr>
			</table>
	    </div>
	    <div class="col">
	    	<br>
	   		<h3 th:text="'Data Pegawai Tertua'"></h3>
	   		<hr>
			<b>NIP: </b><p th:text="${tertua.nip}"></p>
			<b>Nama: </b><p th:text="${tertua.nama}"></p>
			<b>Tempat Lahir: </b><p th:text="${tertua.tempatLahir}"></p>
			<b>Tanggal Lahir: </b><p th:text="${tertua.tanggalLahir}"></p>
			<b>Tahun Masuk: </b><p th:text="${tertua.tahunMasuk}"></p>
			<b>Nama Instansi: </b><p th:text="'Nama Instansi: ' + ${instansi.nama} + ' - ' + ${instansi.provinsi.nama}"></p>
				<table>
				<thead>
					<tr>
						<th>Jabatan</th>
					</tr>
					<tr>
						<td><li th:each="jabatan: *{listJabatanTertua}" th:text="${jabatan.nama}"></li></td>
					</tr>
			</table>
	    </div>
	  </div>
	</div>
  
  </body>
</html>