<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<object th:include="fragments/fragment :: title" th:remove="tag"></object>
		<object th:include="fragments/fragment :: css" th:remove="tag"></object>
		<object th:include="fragments/fragment :: js" th:remove="tag"></object>
	</head>
	
	<body>
	<nav th:replace="fragments/fragment :: navbar"></nav>
	<br>
	<h3 style="margin-left:20px" th:text="'Detail Jabatan ' + ${jabatan.nama}"></h3>
	<hr>
	
	<div style="margin-left:20px">
	
	<table class="table table-striped" style="width:50%">
	  <thead>
	    <tr>
	    </tr>
	  </thead>
	  <tbody>
	    <tr>
	      <td><b><p th:text="'Nama '"></p></b></td>
	      <td><p th:text="${jabatan.nama}"></p></td>
	    </tr>
	   	<tr>
	      <td><b><p th:text="'Deskripsi '"></p></b></td>
	      <td><p th:text="${jabatan.deskripsi}"></p></td>
	    </tr>
	    <tr>
	      <td><b><p th:text="'Gaji Pokok '"></p></b></td>
	      <td><p th:text="'Rp ' + ${jabatan.gajiPokok}"></p></td>
	    </tr>
	    <tr>
	      <td><b><p th:text="'Jumlah Pegawai: '"></b></p></td>
	      <td><p th:text="${jumlahPegawai}"></p></td>
	    </tr>
	   
	  </tbody>
	</table>
	
	</div>
		<hr>
		<table>
		<tr>
		<td>
		<form style="margin-left:520px" th:action="@{/jabatan/ubah}" th:object="${jabatan}" method="GET">
			<input type="hidden" th:value="${jabatan.id}" name="idJabatan" /> 
			<button class="btn btn-primary btn-lg active" role="button" aria-pressed="true" type="submit">Ubah</button>
		</form>	
		</td>
		<td>
		<form  th:action="@{/jabatan/hapus/} + ${jabatan.id}" th:object="${jabatan}" method="POST">
			<button class="btn btn-danger btn-lg active" role="button" aria-pressed="true" type="submit">Hapus</button>
		</form>
		</td>
		</tr>
		</table>
	</body>
	
</html>